{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .a i {
            font-size: 4rem;
        }
        .b i {
            font-size: 2.5rem;
        }
    </style>


{% if uploaded_file_url %}
<div class="tr_container">
  <div>
    <img class="uploaded_img" src="{{ uploaded_file_url }}">
  </div>
  <div class="b">
    <p>Uploaded file @ : <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>
{#    <i id="img" class="material-icons">campaign</i>#}
    <i id="img" class="material-icons-outlined">campaign</i>
    </p>
  </div>
{% endif %}
  <audio id='audio' src='{{tts_2}}' type='audio/mp3'></audio>
  <div class="text_list">
    <h3>{{ text_list }}</h3>
  </div>
  <div class="a">
    <a href="{% url 'pack:delete' file_name=uploaded_file_name %}" onclick='alert("데이터가 삭제되었습니다.");'>
{#        <i class="material-icons">delete</i>#}
        <i class="material-icons-outlined">delete</i>
    </a>
    <a href="{% url 'main:index' %}">
{#        <i class="material-icons">home</i>#}
        <i class="material-icons-outlined">home</i>
    </a>
  </div>
</div>

<script>
  window.onload = function() {
    document.getElementById('audio').play();
  }

  document.getElementById('img').addEventListener('click', function(e) {
    e.preventDefault();
    document.getElementById('audio').play();
  });
</script>

{% endblock %}