{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .a i {
            font-size: 4rem;
        }
    </style>

<form action="{% url 'cup:pred_img' %}" method="POST" enctype="multipart/form-data"  onsubmit="return file_check()">
  {% csrf_token %}
  <div class="upload">
    <!-- image upload -->
    <label for="input_img">
        <div class="a">
            <i class="material-icons">upload_file</i>
        </div>
    </label>
    <input type="file" id="input_img" name="img_uploaded" accept="image/*" onchange="setThumbnail(event);">
    <!-- image preview -->
    <div id="image_container">
      Image upload ↑<br>
      Image preview ↓<br>
      <img id="img_preview">
    </div>

    <script>
      // 이미지 미리보기
        function setThumbnail(event) {
          if (event.target.files && event.target.files[0]){
            var reader = new FileReader();
            reader.onload = function(event) {
              var img = document.getElementById("img_preview");
              img.setAttribute("src", event.target.result);
            };
            reader.readAsDataURL(event.target.files[0]);
          }
        }


      // 이미지를 선택했는지 확인 > form태그에서 onsubmit을 통해 submit했을 때 함수실행
      function file_check(){
      　var chk = document.getElementById('input_img');
        　if(!chk.value){
          　alert('파일을 선택하세요!');
            return false;
        　}
      }
    </script>

    <!-- Predict -->
    <p>선택한 이미지가 맞다면 로봇을 눌러주세요</p>
      <div class="a">
          <button class="submit_btn" type="submit"><i class="material-icons-outlined">smart_toy</i></button>
      </div>
  </div>
</form>
{% endblock %}