<div style="text-align: center;">
<hr>
    <div class="wiyn_footer_logo">

        <span style="line-height: 2rem;">
            <a href="https://github.com/coprime30/playground">
            광주 인공지능사관학교 2기 TEAM 서로소
            </a>
        </span>
        <br>
        <span style="line-height: 2rem;">
            <a href="https://github.com/4923">
                홍예은
            </a>
            |
            <a href="https://github.com/lauren0914">
                김채란
            </a>
            |
            <a href="https://github.com/sun-hani">
                봉명선
            </a>
            |
            <a href="https://github.com/RYU339">
                유승현
            </a>
        </span>
    </div>

</div>